/* these are micro adjustments made as needed to the accordion in order to fit properly the accordion taken directly from the bootstrap library */

.accordion-section {
  font-family: "Trispace", sans-serif;
}
.accordion-section h1 {
  text-align: center;
  margin: 50px 0 !important;
  color: white;
}

.accordion-item,
.accordion-header {
  /* remove background */
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin-bottom: 20px;
}

.accordion-item {
  box-shadow: 0 2px 20px 0 rgb(110, 130, 208, 0.18);
}

.accordion-button {
  width: 100%;
  height: 60px;
  color: black !important;
  font-weight: bold !important;
  text-align: left !important;
  text-decoration: none !important;
}

.accordion-body {
  background: #e8eeff;
}

.accordion-button:after {
  width: 35px;
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
  right: 15px;
  top: 11px;
  position: absolute;
}

.accordion-button.collapsed:after {
  content: "\002B";
  background: white;
}

.accordion-section img {
  width: 100%;
  margin: 20px;
}
